<aside  main-navigation class="sidebar canvas-left bg-dark"></aside>
<!-- Events sidebar -->
<aside class="sidebar-300 bg-grey bd-l bd-r" ng-controller="EventsCtrl">
    <header class="header navbar clearfix bd-b">
        <div class="pull-left btn-group">
            <button class="btn btn-white btn-outline no-outline" type="button"> <i class="fa fa-check fa-2x"></i>
            </button>
            <button class="btn btn-white btn-outline no-outline" type="button"> <i class="fa fa-plus fa-2x"></i>
            </button>
        </div>
        <div class="pull-right btn-group">
            <button class="btn btn-white btn-outline no-outline" type="button">
                <i class="fa fa-calendar fa-2x"></i>
            </button>
        </div>
    </header>

    <div class="content-wrap no-padding">
        <!-- content wrapper -->
        <ul class="list-group no-radius pd-b-lg" style="margin: 0 -1px;">

            <li class="list-group-item no-border">
                <a href="#">
                    <h4 class="center-block">
                        <i class="fa fa-check"></i>
                        Загальноукраїнський суботник
                    </h4>
                    <p class="event-date">
                        <i class="fa fa-calendar"></i>
                        09:00 Сб, 14 червня 2014
                    </p>
                    <p class="text-info no-margin">
                        <i class="fa fa-map-marker pd-r-xs"></i>
                        Київ, м. Оболонь, вул. Малиновського, 3
                    </p>
                    <div class="event-footer row no-margin">
                        <p class="pull-left">542 учасника</p>
                        <button class="btn btn-success pull-right" type="button">Піду</button>
                        <button class="btn btn-default pull-right" type="button">Не піду</button>
                    </div>
                </a>
            </li>

            <li class="list-group-item active">
                <a href="#">
                    <h4 class="center-block">
                        <i class="fa fa-check"></i>
                        Загальноукраїнський суботник
                    </h4>
                    <p class="event-date">
                        <i class="fa fa-calendar"></i>
                        09:00 Сб, 14 червня 2014
                    </p>
                    <p class="text-info no-margin">
                        <i class="fa fa-map-marker pd-r-xs"></i>
                        Київ, м. Оболонь, вул. Малиновського, 3
                    </p>
                    <div class="event-footer row no-margin">
                        <p class="pull-left">542 учасника</p>
                        <button class="btn btn-success pull-right" type="button">Піду</button>
                        <button class="btn btn-default pull-right" type="button">Не піду</button>
                    </div>
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <h4 class="center-block">
                        <i class="fa fa-check"></i>
                        Загальноукраїнський суботник
                    </h4>
                    <p class="event-date">
                        <i class="fa fa-calendar"></i>
                        09:00 Сб, 14 червня 2014
                    </p>
                    <p class="text-info no-margin">
                        <i class="fa fa-map-marker pd-r-xs"></i>
                        Київ, м. Оболонь, вул. Малиновського, 3
                    </p>
                    <div class="event-footer row no-margin">
                        <p class="pull-left">542 учасника</p>
                        <button class="btn btn-success pull-right" type="button">Піду</button>
                        <button class="btn btn-default pull-right" type="button">Не піду</button>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</aside>
<!-- /mails sidebar -->

<!-- main content -->
<section class="main-content">
    <header class="header navbar bg-grey clearfix bd-b">
        <div class="pull-left btn-group">
            <button class="btn btn-white btn-outline no-outline" type="button">
                <i class="fa fa-edit fa-2x"></i>
            </button>
            <button class="btn btn-white btn-outline no-outline" type="button">
                <i class="fa fa-trash-o fa-2x"></i>
            </button>
        </div>
    </header>

    <!-- content wrapper-->
    <div class="content-wrap">
        <div class="lead">
            Загальноукраїнський суботник
            <p class="event-date">
                <i class="fa fa-calendar"></i>
                09:00 Сб, 14 червня 2014
            </p>
            <p class="text-info no-margin event-location">
                <i class="fa fa-map-marker pd-r-xs"></i>
                Київ, м. Оболонь, вул. Малиновського, 3
            </p>
        </div>

        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
        </p>

        <p>
            Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
        </p>

        <p>
            Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id, metus.
        </p>

        <p>i Love you so much Luke!</p>

        <p>
            Yours Truly
            <br/>
            Darth Vader
        </p>

        <p>Стан локації</p>
        <ul class="condition">
            <li>
                <img src="http://www.thehindu.com/multimedia/dynamic/01320/04BG_GARBAGE_CITY_1320605f.jpg"></li>
            <li>
                <img src="http://www.thehindu.com/multimedia/dynamic/01166/04MA_MASIMDU_1166293g.jpg"></li>
            <li>
                <img src="http://www.newlyswissed.com/blog/wp-content/uploads/2012/07/Museum-fuer-Gestaltung-Plastic-Garbage-01.jpg"></li>
            <li>
                <img src="http://www.thehindu.com/multimedia/dynamic/01320/04BG_GARBAGE_CITY_1320605f.jpg"></li>
        </ul>

        <p>
            <i class="fa fa-user"></i>
            Учасники:
            <span>542</span>
        </p>
        <ul class="condition">
            <li>
                <img src="Client/img/ava1.png"></li>
            <li>
                <img src="Client/img/ava2.png"></li>
            <li>
                <img src="Client/img/ava3.png"></li>
            <li>
                <img src="Client/img/ava4.png"></li>
            <li>
                <img src="Client/img/ava3.png"></li>
            <li>
                <img src="Client/img/ava1.png"></li>
            <li>
                <img src="Client/img/ava2.png"></li>
        </ul>
    </div>
    <!-- /content wrapper -->
</section>
<!-- /main content -->