<div id="hor-menu" class="collapse navbar-collapse pull-left no-padding">
    <ul class="nav navbar-nav">
        <li class="dropdown show-on-hover">
            <a data-toggle="dropdown" href="#">
                <span>Київ</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li class="active">
                    <a href="#">
                        <span>Київ</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span>Чернігів</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Торонто</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Краків</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown show-on-hover">
            <a data-toggle="dropdown" href="#">
                <span>Печерський</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">
                        <span>Оболонський</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <span>Печерський</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Святошинський</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Дарницький</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown show-on-hover">
            <a data-toggle="dropdown" href="#">
                <span>Пластик</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li class="active">
                    <a href="#">
                        <span>Пластик</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span>Скло</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span>Все</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>