                    <!-- main navigation -->
                    <nav class="main-navigation">
                        <ul>

                            <li>
                                <a href="#events">
                                    <i class="fa fa-calendar"></i>
                                    <span>Події</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-trash-o"></i>
                                    <span>Карта сміття</span>
                                </a>
                            </li>
                            <li class="dropdown active show-on-hover">
                                <a href="#" data-toggle="dropdown">
                                    <i class="fa fa-recycle"></i>
                                    <span>Вторинна сировина</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#">
                                            <span>Пластик</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Скло</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Всі</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-comment"></i>
                                    <span>Комісійні пункти</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-dollar"></i>
                                    <span>Внески</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-university "></i>
                                    <span>Організації</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-bullhorn"></i>
                                    <span>Вже зроблено</span>
                                </a>
                            </li>

                        </ul>
                    </nav>
                    <!-- /main navigation -->
                    <!-- footer -->
                    <footer>
                        <div class="about-app pd-md animated" ng-class="{'pulse open' : showAbout, 'bounceOut' : !showAbout}">
                            <a>
                                <i class="fa fa-android fa-3x"></i> <i class="fa fa-apple fa-3x"></i>
                            </a>
                            <br>
                            <span>
                                <b>Clean City</b>&#32;mobile apps.
                            </span>
                        </div>
                        <div class="footer-toolbar pull-left">
                            <a class="pull-left help" ng-click="showAbout = !showAbout">
                                <i class="fa fa-mobile fa-2x"></i>
                            </a>
                            <a class="toggle-sidebar pull-right hidden-xs" ng-click="smallSidebar = !smallSidebar">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </div>
                    </footer>
                    <!-- /footer -->